@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">BookList App</h1>
    <p>A simple .NET Core 3 app which utilises an SQL database to store a list of books with CRUD abilities.</p>
</div>
